body {
	font-family: helvetica, sans-serif;
	background-color: #FFFFE0;
}

#title {
	font-family: impact, sans-serif;
	font-size: 40px;
	font-style: italic;
}

ul {
	list-style-type: none;
}

a: hover {
	color: white;
}