<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="'Category: ' + ${category.name}"></title>
</head>
<header>
	<nav>
		<a href="/categories">Back to Categories</a>
	</nav>
</header>
<body>

	<section class="main">
		<h1 th:text="${category.name}+' Reviews'"></h1>
		<ul>
			<li th:each="currentCategory: ${category.reviews}"><a
				th:href="@{./review(id=${currentCategory.id})}"
				th:text="${currentCategory.name}"></a></li>
		</ul>
	</section>


</body>
</html>



