<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
<link rel="stylesheet" type="text/css" href="./layout.css" />
<title>A Review</title>
</head>


<body>
<div class="container">
<header>
	<nav>
		<ul>
			<li><a href="/categories">Categories</a></li>
		</ul>
	</nav>

	<h1 th:text="${review.name}"></h1>

</header>

<section class="main">

	<article th:each="reviews: ${review}">
	
		<img th:src="${review.image}" height="300px" width="300px"></img>

		<h3>Description</h3>
		<p th:text="${review.description}" />

	</article>
	</section>
</div>
</body>
</html>