<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
<link rel="stylesheet" type="text/css" href="./layout.css" />
<title>A Review</title>
</head>


<body>
	<div class="container">
		<header>
			<nav>
				<ul>
					<li><a href="/categories">Categories</a>
						<p></p> <a href="/tags">Tags</a></li>
				</ul>
			</nav>

			<h1 th:text="${review.name}"></h1>

		</header>

		<section class="main">

			<article th:each="reviews: ${review}">

				<img th:src="${review.image}" height="300px" width="300px"></img>

				<h3>Description</h3>
				<p th:text="${review.description}" />

				<h3>Comments</h3>
				<div class="add-remove-comments">
					<form class="remove-comment" method="post">
						<input name="reviewId" type="hidden" th:value="${review.id}" />
						<ul class="content-list-items">
							<li th:each="comment: ${review.comments}"><p
									th:href="@{/comment(id=${comment.id})}"
									th:text="${comment.comment}"></p></li>
						</ul>
					</form>


					<form method="POST">
						<input name="id" type="hidden" th:value="${review.id}" /> <input
							type="text" name="comment" placeholder="Add a comment" />
						<button th:formaction="@{/add-comment}">Add</button>
					</form>
				</div>
			</article>
		

		<div class="add-remove-tags">
			<form class="remove-tag" method="post">
				<input name="reviewId" type="hidden" th:value="${review.id}" />
				<ul class="content-list-items">
					<li th:each="tag: ${review.tags}"><a
						th:href="@{/tag(id=${tag.id})}" th:text="${tag.tag}"></a>
						<button id="remove-tag-button" name="tagId" th:value="${tag.id}"
							th:formaction="@{/remove-tag}">X</button></li>
				</ul>
			</form>
			<form method="POST">
				<input name="id" type="hidden" th:value="${review.id}" /> <input
					type="text" name="tag" placeholder="Add a tag" />
				<button th:formaction="@{/add-tag}">Add</button>
			</form>
		</div>
		</section>
	</div>
	<footer><p th:text="${review.name}"></p> </footer>
	
</body>


</html>