<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
<link rel="stylesheet" type="text/css" href="./layout.css" />
<title>A Review</title>
</head>


<body>
	<div class="container">
		<header>
			<nav>
				<ul>
					<li><a href="/categories">Categories</a>
						<p></p> <a href="/tags">Tags</a></li>
				</ul>
			</nav>

			<h1 th:text="${review.name}"></h1>

		</header>

		<section class="main">

			<article th:each="reviews: ${review}">

				<img th:src="${review.image}" height="300px" width="300px"></img>

				<h3>Description</h3>
				<p th:text="${review.description}" />

			</article>
		</section>
		<div class="comment-form-section">
			<form class="add-comment" method="post">
				<textarea name="comment-content" id="comment-content"
					placeholder="What are your thoughts on this show?"></textarea>
				<input type="button" name="submit-comment" value="Submit"
					id="submit-comment" />
			</form>
			<div id="comment-section"></div>

		</div>
		<div class="add-remove-tags">
			<form class="remove-tag" method="post">
				<input name="reviewId" type="hidden" th:value="${review.id}" />
				<ul class="content-list-items">
					<li th:each="tag: ${review.tags}"><a
						th:href="@{/tag(id=${tag.id})}" th:text="${tag.tag}"></a>
						<button id="remove-tag-button" name="tagId" th:value="${tag.id}"
							th:formaction="@{/remove-tag}">X</button></li>
				</ul>
			</form>
			<form method="POST">
				<input name="id" type="hidden" th:value="${review.id}" /> <input
					type="text" name="tag" placeholder="Add a tag" />
				<button th:formaction="@{/add-tag}">Add</button>
			</form>
		</div>
	</div>
</body>
</html>