
.container{
	display:grid;
	grid-template-rows: 50px auto 50px;
}

body {
	font-family: helvetica, sans-serif;
	background-color: coral;
}

#title {
	font-family: impact, sans-serif;
	font-size: 40px;
	font-style: italic;
}

ul {
	list-style-type: none;
}
button {
	font-size: 10px;
}
