<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./style.css" />
<link rel="stylesheet" type="text/css" href="./layout.css" />

<head>

<title>A List of review Tags</title>

</head>

<body>
	<header>
		<h1>Review Tags</h1>
	</header>

	<section class="main">
		<ul th:each="tag: ${tags}">
			<li><a th:href="@{/tag(id=${tag.id})}"
				th:text="${tag.name}"></a></li>
		</ul>
	</section>
	<a href="/reviews">Back to Home Page</a>

</body>
</html>